body {
    background-image: url("../img/neon-background-publicdomain.webp");
    background-size: cover;
    font-family: 'Amatic SC', serif;
    font-weight: 900;
    padding:20% 0;
    color:white;
    text-align: center;
}

a{
    color:white;
    font-size: xx-large;
    cursor: pointer;
}