body {
    overflow: hidden;
    margin: 0;
    color: #6a6f8c;
    background: white url(../img/neon-background-publicdomain.webp) no-repeat top;
    background-size: 100%;
    font: 600 16px/18px 'Open Sans', sans-serif;
}
#user{
 float: left; 
 margin-top: 2vh;
 margin-left: 3vh;
 font-size: 22px;
 color: white;
 
}
.games {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 40px;
    column-gap: 50px;
    border: #6a6f8c;
    padding: 90px;

}

.imege {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 0 10px 50px rgba(0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    height: 35vh;
    width: 35vw;

}

.imege:hover {
    box-shadow: 0 0 4px #ffffff, 0 0 15px #ffffff, 0 0 35px #ffffff, 0 0 100px #ffffff;
    animation: pulse 1s infinite;
    transition: .3s;
}
img{
    position: relative;
    float: right;
    width: 250px;
    z-index: 30000;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
@media(max-width:600px){

        body{
            background-size: 100vh;
            }
            img{
                position: relative;
                float: right;
                width: 150px;
                z-index: 30000;
            }
            .games {
                grid-template-columns: auto ;
             row-gap: 30px;
            }
            .imege {
                height: 20vh;
                width: 50vw;
            
            }

}